numpy==1.26.4
opencv-python
pyyaml
requests
scipy
torch
torchvision
tqdm
pandas
ultralytics-thop
ultralytics
ensure==1.0.2
python-box==6.0.2
joblib
mlflow== 2.16.0    #also supports 2.16.2
onnxruntime
zenml== 0.65.0      #also supports 0.66
zenml[server]   
torchmetrics
torchmetrics[detection]
tensorboard
onnx
-e . 
