numpy==1.26.4
opencv-python
pyyaml
requests
scipy
torch
torchvision
tqdm
pandas
ultralytics-thop
ultralytics
ensure==1.0.2
python-box==6.0.2
joblib
mlflow
onnxruntime
zenml
zenml[server]   
torchmetrics
torchmetrics[detection]
dvc
-e . 